.form {
    height: 50px;
    margin-top: 15px; 
    display: flex; 
    align-items: center;
}

.form > input:focus,
.form > input {
    width: 230px;
    border-radius:10px;
    font-size: 1.3rem;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
